* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-shadow: 0 0 0 1px aquamarine;*/
  /* background-color: rgba(255, 0, 0, 0.1); */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  position: relative;
}

h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.content {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  background-color: #272626;
}

.content h1 {
  color: #fff;
  font-size: 3rem;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
